# Go
/bin/
/dist/
*.test
*.out
coverage.txt

# Node
# avoid platform-specific lock files
package-lock.json
node_modules/
.npm
.pnpm-store/
.vite/
.vite-cache/

# IDE / OS
.DS_Store
.idea/
.vscode/

# Build artifacts
apps/web/dist/
packages/*/dist/

# Local env
.env
.env.local
*.sqlite
*.db
*.db-journal

# bbgo runtime
data/
logs/
otp.png

# local var files
var/
